body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#formHeader {
  text-align: center;
}

#orderForm {
  margin: 0 auto 0 auto;
}

.hide {
  display: none;
}